*.csv
.idea/
*.pkl
ProcessedData
best_model_word2vec.h5
*.h5

Report/*.aux
Report/*.fdb_latexmk
Report/*.fls
Report/*.log
Report/*.gz
Report/*.pdf
Report/*.out
Report/*.blg
Report/*.bbl
Report/*.bcf
Report/*.xml


Lemma_all
lemma_NOUN_PROPN_ADJ_ADV_VERB
lemma_REDUCED
preprocessed_data/